extends layout

block content
  script.
    var submitted=false;
  iframe(name='hidden_iframe', id='hidden_iframe', style='display:none;',onload='if(submitted) {window.location="contact2";}')
  //- .row.jumbotron
  //-   .container
  //-     h3 Contact Form
  //-     p
  //-     p 
  //-     p 

  .container
    form.form-horizontal(action='https://docs.google.com/forms/d/1uEWJ_fTQdkgbnusJlkuFpzB_L6pWZpY37VneBAu8euY/formResponse', method='POST',target='hidden_iframe', onsubmit="submitted=true;")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='name') Name
        .col-sm-5
          input.form-control(type='text', name='entry.400327163', id='entry.400327163', autofocus=true)
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='email') Email
        .col-sm-5
          input.form-control(type='text', name='entry.311268597', id='entry.311268597')
      .form-group
        label.col-sm-offset-1.col-sm-3(class='col-sm-2 control-label', for='message') Body
        .col-sm-5
          textarea.form-control(type='text', name='entry.1849726754', id='entry.1849726754', rows='7')
      .form-group
        .col-sm-offset-4.col-sm-5
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send