extends layoutHidden

block content	
	section#hero-area
		//- img(src='img/23513410876_21894c801e_k.jpg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
		.home-overlay
		.container
			.row
				.col-md-12.text-center
					.block
						h1 NTU LIVE
						p.lead Leadership, Innovation, ValuE
						p
							h4 打造台灣未來醫療科技CEO人才計劃
	section.afterHeroArea
		.container
			.row.fourHeading
				.col-sm-3
					h2 What we do
					//- p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
				.col-sm-3
					h2 Who we are
					//- p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
				.col-sm-3
					h2 Why we do it
					//- p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
				.col-sm-3
					h2 How we do it
					//- p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.