#slotResultModel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='slotResultLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#slotResultLabel.modal-title 結果公布
      .modal-body
        h5#bodyText
      .modal-footer
        .left-side
          button.btn.btn-danger.btn-simple(type='button', data-dismiss='modal') 關閉
      //-   .divider
      //-   .right-side
      //-     button.btn.btn-success.btn-simple(type='submit')
      //-         i.fa.fa-user-mail
      //-         | 確認