extends ../layout

block content
  .row.jumbotron.jumbotronPeopleMentor
    .container
      h2 Mentor
      p
      p Meet the people behind NTU LIVE
      p
  .container
    .margin_top20
      include ./viewUsers.jade
  
  
  