extends ../layout

block content
  .banner.free_jumbo
    .container.img-preview
      img(src='/img/a_banner-01.jpg')
  .container.container-flex.px2
    .row
      .table
        .table-cell.col-sm-8.col-8.px-gutter
          #video-section.project-image
            #video_pitch.video-player.vertically_center.large
              iframe(width='640', height='480', src='https://www.youtube.com/v/dgXDBRpejN8', style='height: 482px; max-height: 768px;')
        .table-cell.col-sm-4.col-4.px-gutter
          .mobile-show.mobile-center
            .py2
              .NS_projects__header.center
                h2.normal.mb1
                  a.blue-dark(href='/projects/1340659244/csts-as-you-like-it-goes-to-canada') CST's As You Like It goes to Canada!
                p.blue-dark.h5.mb0.mobile-show
                  | by 
                  b
                    a.blue-dark(href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/creator_bio') Children's Shakespeare Theatre
                p.blue-dark.h5.mb0.mobile-hide
                  | by 
                  b
                    a.remote_modal_dialog.blue-dark(data-modal-class='modal_project_by', data-modal-title='About the creator', href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/creator_bio') Children's Shakespeare Theatre
            p.h5
              | 在生涯規劃上，決心走向藝術這條道路。對我而言，舞蹈是一種自我認識，找出自己與世界不同的方式，希望能接觸更多舞蹈訓練，能更加展現自我，並希望可以讓更多人去接觸、喜愛表演藝術。
              a.bold.fastclick.h5.nowrap(href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/description')
                | Read more
            .h5.mb2
              a.grey-dark.mr3.nowrap(href='/discover/places/palisades-ny?ref=city')
                span.ss-icon.ss-location.margin-right
                b Palisades, NY
              a.grey-dark.mr3.nowrap(href='/discover/categories/theater/plays?ref=category')
                span.ss-icon.ss-tag.margin-right
                b Plays
              #project_share_mobile.btn.btn--border-gray.btn--small.mt2(href='#') Share this project
          .NS_projects__stats
            #stats.digits_4
              .row
                .col.col-12.mb1.stat-item
                  #backers_count.num.h1.bold #{a_project.investors}
                  span.bold.h5 人次參與
                .col.col-12.mb1.stat-item
                  #pledged.num.h1.bold.nowrap $#{a_project.nowMoney}
                    span.money.usd.project_currency_code
                  span.bold.h5
                    | 距離目標資金
                    | 
                    span.money.usd.no-code $2,000
                    span.mobile-hide
                    |  募集
                .col.col-12.mb1.stat-item
                  #backers_percent.num.h1.bold  #{a_project.percent}%
                  span.bold.h5 已完成
                  p
                  span.bold 一元，即可以行動贊助這位素人
          .NS_projects__back_and_star
            
            .inline-block.mobile-hide
              a#button-back-this-proj.btn.btn--blue.btn--large(href='/fundings/10000001') 我要贊助
            .mobile-show
              a#button-back-this-proj.btn.btn--blue.btn--block(href='/fundings/10000001') 我要贊助
            .align-middle.inline-block.pl1.mobile-hide
            #watching-widget.ajax-container.inline-block.align-middle
    .row
      .col.col-8.py4
        .mobile-hide
          .h5.mb3
            a.grey-dark.mr3.nowrap(href='/discover/places/palisades-ny?ref=city')
              span.ss-icon.ss-location.margin-right
              b Palisades, NY
            a.grey-dark.mr3.nowrap(href='/discover/categories/theater/plays?ref=category')
              span.ss-icon.ss-tag.margin-right
              b Plays
          p.h3.mb3
            | 在生涯規劃上，決心走向藝術這條道路。對我而言，舞蹈是一種自我認識，找出自己與世界不同的方式，希望能接觸更多舞蹈訓練，能更加展現自我，並希望可以讓更多人去接觸、喜愛表演藝術。
          
        //--Curated page projects ----------------
        .curate.inline-block
      .col.col-4
        .border-top.py4
          .row.clip
            .NS_projects__creator
              .col-right.col-4.align-right.mobile-center.pr2.border-box
              .col.col-8
                h5.mobile-hide
                  a.remote_modal_dialog.blue-dark(data-modal-class='modal_project_by', data-modal-title='About the creator', href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/creator_bio') Children's Shakespeare Theatre
                .mobile-show.center.py1
                  h5.mb1 Project by 
                  h3.normal.mb0
                    a.blue-dark(href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/creator_bio') Children's Shakespeare Theatre
                .flag.mobile-hide
                  .flag-img
                    span.ss-social-circle.ss-kickstarter.h6.grey-dark
                  .flag-body
                    p.h5.mb0
                      span.inline-block
                        span.grey-dark First created
                        span.grey-dark  
                      span.inline-block
                        a.grey-dark.bold.remote_modal_dialog(data-modal-title="Projects backed by Children's Shakespeare Theatre", href='/profile/1340659244/backed') 3 backed
                .mb1.mobile-hide
                  .flag
                    .flag-img
                      span.ss-icon.ss-globe.h6.grey-dark
                    .flag-body
                      p.h5.mb0.grey-dark.ellipsis
                        a.bold.grey-dark.popup(href='http://www.childrensshakespeare.org', rel='nofollow', target='_blank') childrensshakespeare.org
                p.h5.bold.mobile-hide
                  a.remote_modal_dialog.full_bio.mr2(data-modal-class='modal_project_by', data-modal-title='About the creator', href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/creator_bio') See full bio
                  a.remote_modal_dialog.message_creator_modal_link(data-modal-class='modal_send_message', data-modal-title="Send a message to Children's Shakespeare Theatre", href='/projects/1340659244/csts-as-you-like-it-goes-to-canada/messages/new?message%5Bto%5D=1340659244') Contact me
    .row
      .col.col-8
        img(src='/img/a_target.jpg',width='100%')
      .col.col-8
        img(src='/img/a_profile.jpg',width='100%')
      .col.col-8
        img(src='/img/a_feedback.jpg',width='100%')


          


  